= image_tag 'glyphicons/glyphicons_043_group.png', class: 'bs-icon'
%h1<
  Team
  %em= @team.name

.row
  .span6
    %h2<
      Projects
      %small= icon_link_to 'plus', 'add', new_project_path

    %table.table.table-striped
      - @projects.each do |project|
        %tr
          %td= link_to project.name, project
          %td #{project.total_estimate}h

  .span6
    %h2<
      Latest Features
      %small= icon_link_to 'plus', 'add', new_feature_path

    %table.table.table-striped
      - @team.features.limit(20).each do |feature|
        %tr
          %td= link_to feature.name, feature
          %td #{feature.estimate}h

  