= image_tag 'glyphicons/glyphicons_043_group.png', class: 'bs-icon'
%h1 
  Team
  %em= @team.name

.row
  .span6
    %h2 Projects
    %p= link_to 'New Project', new_project_path

    %table.table.table-striped
      - @projects.each do |project|
        %tr
          %td= link_to project.name, project

  .span6
    %h2 Latest Features
    %p= link_to 'New Feature', new_feature_path

    %table.table.table-striped
      - @team.features.limit(20).each do |feature|
        %tr
          %td= link_to feature.name, feature

  