%h1 Changelog
%br
%h2 Latest 20
    
%table.table.table-striped
  - @log.each do |l|
    %tr
      %td
        = gravatar_image_tag(l[:email], gravatar: {size: 20})
        = l[:name]
      %td
        %em= l[:hash]
      %td= l[:time]
      %td= l[:message]