%h1.page-header 
  = best_in_place @project, :name

.btn-toolbar
  %button.btn.btn-primary#add_feature_btn{:"data-toggle" => "modal"}
    Add feature

%table.table.table-striped.table-condensed{:id => 'featureListTable'}
  %tr
    %th Feature
    %th Estimate, hours
    %th Actions

  - @project.project_features.each do |f|
    %tr{:"data-toggle"=> "collapse", :"data-target"=>"#details_#{f.id}"}
      %td
        = image_tag(f.image.small_thumb) if f.image?
        = best_in_place f, :name, path: project_update_feature_path(@project, f), nil: 'Something'
      %td= best_in_place f, :estimate, path: project_update_feature_path(@project, f), nil: 0
      %td
        = link_to 'Delete', project_delete_feature_path(@project, f)
    
        
        
    %tr
      %td{:colspan => 3, :style => 'height: 0px;'}
        %div.collapse{:id => "details_#{f.id}"}   
          .alert.alert-info
            = best_in_place f, :description, path: project_update_feature_path(@project, f), nil: "Enter Description of this Task"
          %br
          .comments{:id => "comments_#{f.id}"}
            - f.comments.each do |com|
              .alert.alert-info
                = com.comment
                %br
                by
                = com.user_name
                at 
                = com.created_at
            
          .btn-group
            %button.add_comment_btn.btn.btn-success.btn-mini{:'data-feature-id' => f.id}
              Add comment
          
/
  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path

= link_to(project_path(@project, :format => :pdf), :target => "_blank", class: 'btn js-btn') do
  %i.icon-print
  Print PDF »
  
/
  %a.print-preview
    %i.icon-print
    Print »


#add_comment_form.modal.hide.fade{:'data-project-id' => @project.id}
  .modal-header
    %button.close{:"data-dismiss" =>"modal"}
      x
    %h3 Comment
  .modal-body#comment_form.form-horizontal
    .control-group
      %label.control-label{:for => 'comment_fld'}
        Enter your comment
      .controls
        %input.input-xlarge#comment_fld{:type => 'text'}
    
  .modal-footer
    %button.btn{:"data-dismiss" =>"modal"}
      Close
    %button.btn.btn-success#save_comment_btn{:'data-project-id' => @project.id}
      Save  

#add_feature_popup.modal.hide.fade{:'data-project-id' => @project.id}
  .modal-header
    %button.close{:"data-dismiss" =>"modal"}
      x
    %h3 Add a Feature
  .modal-body#features_list
  .modal-footer
    %button.btn{:"data-dismiss" =>"modal"}
      Close
