.row
  .span6
    %h1
      = @feature.name
      %small #{@feature.estimate}h

    %p= @feature.description
  .span6
    = image_tag @feature.image.thumb if @feature.image?


= icon_link_to 'pencil', 'Edit', edit_feature_path(@feature)

