= link_to "Fastspec", root_path, :class => 'brand'

- if user_signed_in?
  - if current_team
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{ 'href'=> '#', 'data-toggle' => 'dropdown' }
          = current_team.name
          %b.caret
        %ul.dropdown-menu
          - current_user.teams.each do |team|
            %li= link_to team.name, team
          %li.divider
          %li= link_to 'Edit current team', edit_team_path(current_team)
          %li= link_to 'Create new team', new_team_path
      %li= link_to 'Invite friends', new_invite_path

%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to(edit_user_registration_path) do
        = gravatar_image_tag(current_user.email, gravatar: {size: 20})
        = current_user.name
    %li.divider-vertical
    %li= link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li= link_to('Login', new_user_session_path)
    %li.divider-vertical
    %li= link_to('Sign up', new_user_registration_path)